*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(9, 40, 49);
    height: 1000px;
}
.nav{
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 20px;
}
.nav h1{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 40px;
    line-height: 35px;
    color: #ccc;

}
.nav_right h3{
    display: inline;
    position: relative;
    top: 10px;
    left: 48%;
    color: #1c8030;
    font-weight: 300;
}
.nav ul{
    display: flex;
    
}
.nav ul li{
    margin: 10px;
    list-style: none;
    text-transform: uppercase;
    margin-left: 20px;
    position: relative;
    top: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: #ccc;

}
.content h1{
   text-align: center;
   display: block;
   margin-top: 40px;
   color: #1c8030;
   text-transform: capitalize;
   font-weight: 300;
}
.content h2{
    display: block;
    text-align: center;
    margin: 0 80px;
    text-transform: capitalize;
    color: #ccc;
    font-weight: 100;
}
.content button{
    background-color: rgb(9, 40, 49);
    display: block;
    margin: 0 auto;
    position: relative;
    top: 20px;
    border: 1px solid white;
    padding: 8px;
    text-transform: uppercase;
    font-size: 12px;
    color: #ccc;
    font-weight: bold;
    border-radius: 4px;
    
}
.content_box{
   width: 100%;
   background: #ccc;
   margin-top: 60px;
   display: flex;
}
.content_box a{
    text-decoration: none;
}
.content_box h1{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 200;
    color: #606361;
}
.content_box h2{
    text-transform: capitalize;
    font-size:large;
    font-weight: 100;
    margin: 10px 0 10px 0;
    color: #4d6b53;

}
.content_box p{
    font-size: small;
    color: #606361;

}
.content_box .item{
    margin: 20px;
}
.content_box .item img{
    width: 100%;
    height: 200px;
    border-radius: 5px;

}
.footer{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer p{
    text-transform: capitalize;
    padding-left: 20px;
    color: #1c8030;

}
.footer ul{
    display: flex;
    padding-left: 20px;

}
.footer ul li{
    list-style: none;
    margin-right: 20px;
}
.footer ul li a{
    text-decoration: none;
    color: #ccc;
    text-transform: capitalize;
}
@media screen and (max-width:360px) and (max-width:768px) {
    body{
        background-color: rgb(49, 22, 9);
    }
       .nav h1{
           font-size: 25px;
           line-height: 25px;
       }  
       .nav_right h3{
        position: absolute;
        top: 20px;
        font-size: 10px;    
    } 
    .nav ul{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        position: relative;
        right:120px;
        
    }
    .nav ul li {
        background-color: #1c8030;
        padding: 10px;
    }
    .nav ul li a{
        text-decoration: none;
        color: #ccc;
        font-size: 12px;
        margin-left: 15px;
    }
    .content h1{
        margin-top: 25px;
        font-size: 20px;
     }
     .content h2{
         display: block;
         text-align: center;
         margin: 0 80px;
         font-size: 15px;
     }
     .content_box{
         margin-top: 50px;
         display: flex;
         flex-direction: column;
     }
 
    .content_box h1{
        font-size: 10px;
        margin-bottom: 12px;
    }
    .content_box h2{
        text-transform: capitalize;
        font-size:15px;
        font-weight: 100;
        margin: 10px 0 10px 0;
        color: #4d6b53;
    }
    .content_box p{
        font-size: 10px;
        color: #606361;
    
    }
    .content button{
        font-size: 10px; 
    }
    .footer{
        position: relative;
        top: 20px;
        display: flex;
        flex-direction: column;
    }
    .footer ul li{
        font-size: 12px;
        margin-top: 5px;
    }
    .footer p{
        padding-left: 20px;
        font-size: 12px;    
    }
}
